#ip:port
#绑定的主机地址
bind 0.0.0.0
#redis进程的端口号
port ${PORT}

#aof
#指定是否在每次更新操作后进行日志记录，Redis在默认情况下是异步的把数据写入磁盘，如果不开启，可能会在断电时导致一段时间内的数据丢失。因为 redis本身同步数据文件是按上面save条件来同步的，所以有的数据会在一段时间内只存在于内存中。默认为no
appendonly yes
#指定本地数据问就按存放位置
dir /redis-data/${PORT}

pidfile /var/run/redis_${PORT}.pid
#redis进程是否以守护进程的方式运行,yes为是,no为否
daemonize yes
