bind 0.0.0.0
port ${PORT}
cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 5000

#==========================================AOF
appendonly yes
dir /redis-data/${PORT}

#设置数据库的数量，默认数据库为0
databases 10

#==========================================限制
#当客户端闲置多长时间后关闭连接，如果指定为0，表示关闭该功能
timeout 15000
#redis内部调度（进行关闭timeout的客户端，删除过期key等等）频率
hz 20

#==========================================内存
#最大内存最好不要超过空闲内存的3/5，超过32GB会自动进入64位世界，指针长度*2，20%的空间会被指针消耗，性能略有影响
maxmemory 2gb
#4种策略volatile-lru、allkeys-lru、volatile-random、allkeys-random、noeviction根据 LRU 算法移除内存中所有的 key
maxmemory-policy allkeys-lru
#五个key然后取最旧的那个，LRU和最小TTL算法的优化
maxmemory-samples 5
#一个Lua脚本最长的执行时间为5000毫秒,0或负数表示无限执行时间
lua-time-limit 5000
#用LATENCY打印redis实例在跑命令时的耗时图表，监视频率，0为不监视
latency-monitor-threshold 0
